* {
  box-sizing: border-box;

}
body {
  font-family:'Gamer';
}
.one-column {
  width:100%;
}
.spacer-1 {
  height:rem(10);
  width:100%;
}
.spacer-2 {
  height:rem(20);
  width:100%;
}
.spacer-3 {
  height:rem(30);
  width:100%;
}
.spacer-4 {
  height:rem(40);
  width:100%;
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  margin:0 auto;
  display:block
}
.game-board {
  width:rem(1000);
  height:rem(600);
  border:1px solid $med;
  margin:rem(30) auto;
  position:relative;
  overflow:hidden;
    &:before {
      display:block;
      content:'';
      width:1000px;
      height:600px;
      position: absolute;
      top:0;
      left:0;
      z-index:10;
      animation-name: none;
    }
}
.game-board-city {
  background-image: url('/siteart/cityscape.svg')
}
.game-board--active {
  &:before {
    animation-timing-function: linear;
    animation-duration: .2s;
    animation-iteration-count: 2;
    animation-name: crash;
    background-color:red;
  }
}
.game-square {
  width:60px;
  height:45px;
  // border:1px solid red;
  position:absolute;
  top:0;
  bottom:0;
  left:100px;
  margin:auto 0;
  z-index: 1;
  background-image: url('../siteart/truck.svg');
  background-size: auto 45px;
  background-repeat: no-repeat;

  // transform: translatex(0);
}
.game-square--animate {
  transition: transform .25s cubic-bezier(.17,.67,.37,1.39);
  // border:1px solid blue;
}
.truck-stig-mode {
  transition: transform 1s cubic-bezier(.17,.67,.37,1.39);
}
.barrier {
  height:600px;
  width:80px;
  background-color:$med;
  position:absolute;
  top:0;
  right:-80px;
  animation-timing-function: linear;
  // animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-name: example;
  background-image:url('/siteart/brick_tiles_1.svg');
  background-size:80px;
}


.barrier-test {
  height:600px;
  width:80px;
  background-color:$med;
  position:absolute;
  top:0;
  right:900px;
  animation-name: none;
  animation-duration: 1s;
  animation-iteration-count: infinite;
    .barrier-gap {
      top:240px;

    }
}

.barrier-crash {
  // background-color: red;
  // border:3px solid red;
}
.barrier-pass {
  // border:3px solid green;
}
.barrier-gap {
  height:80px;
  width:80px;
  background-color: $white;
  position: relative;
    &:before {
      content: "";
      display:block;
      position: absolute;
      top:-20px;
      height:20px;
      width:80px;
      background-image:url('/siteart/barrier.png');
    }
}

@keyframes example {
  0% { transform: translatex(0);}
  100% { transform: translatex(-1080px); }
}
@keyframes example-left {
  0% { transform: translatex(0);}
  100% { transform: translatex(1080px); }
}
@keyframes crash {
  0% { opacity: 0; }
  100% { opacity:1; }
}

.score-box {
  text-align: center;
  position:relative;
  margin:0 auto;
  z-index:10;
  height:20px;
  width:70px;
  transform:translateY(30px);
  opacity:0;
  font-size:rem(18);
  top:-30px;
  color:#FBB117;
}
.score-box--active {
    transform:translateY(-10px);
    opacity:1;
    transition: transform .2s cubic-bezier(.52,.4,.14,1.33), opacity .1s;
}
.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}
.counted {
}
.possessions {
  width:100%;
  position: absolute;
  bottom:190px;
  display:flex;
  list-style-type: none;
  margin:0;
  justify-content: space-between;
  padding:0 60px;
}
.item-container {
  width:40px;
  // margin:0 10px;
  height:90px;
  display:block;
}
.item {
  width:100%;
  height:90px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
.pedestrian-channel {
  width:100%;
  height:250px;
  position: absolute;
  bottom:70px;
  // border:1px solid orange;
  overflow: hidden;
}
.pedestrian {
  height:110px;
  width:70px;
  position:absolute;
  bottom:0;
  right:800px;
  opacity:1;
  // animation-timing-function: linear;
  // animation-duration: 5.5s;
  // animation-iteration-count: 1;
  // animation-name: example;
  background-size:80px;
  z-index:3;
}
.pedestrian-right {
  right:-80px;
  // animation-name: example;
  bottom:20px;
  background-image: url('/siteart/blond.svg');
  background-size: 320px auto;
  background-repeat: no-repeat;

  animation: walk-right .45s steps(4, end) infinite, example 5.5s linear 1;
  background-position: 0px -110px;
  .item {
    position: absolute;
    left:-20px;
    width:40px;
    top:20px;
  }
}
@keyframes walk-right {
  0% { background-position: 0px -110px;}
  100% { background-position: -320px -110px;}
}
@keyframes walk-left {
  0% { background-position: 0px 0px;}
  100% { background-position: -320px 0px;}
}
.pedestrian-left {
  left:-80px;
  // animation-name: example-left;
  bottom:40px;
  background-image: url('/siteart/blond.svg');
  background-size: 320px auto;
  background-repeat: no-repeat;
  background-position: 0 0px;
  animation: walk-left .45s steps(4, end) infinite, example-left 5.5s linear 1;
  .item {
    position: absolute;
    right:-20px;
    width:40px;
    top:20px;
  }
}
.criminal {
  // background-color: black;
}
.fake-criminal {
  // background-color: orange;
}
.dodge-up {
  // transform: translateY(-40px);
  transition: bottom .4s;
  // transition-delay: 2s;
  // background-color: $dark;
  bottom:100px;
  // border:4px solid red;
  z-index:1;
}
.mover {
  height:110px;
  width:80px;
  left:475px;
  bottom:80px;
  position: absolute;
  z-index:2;
  overflow:hidden;
}
.mover-figure {
  position: absolute;
  left:0;
  top:0;
  width:320px;
  height:220px;
  background-image: url('/siteart/mover.svg');
  background-size: 320px auto;
  background-repeat: no-repeat;
  // left:-240px;
  animation: walk .22s steps(4, end) infinite;
  animation-play-state: paused;
  background-position: 0px 0;
}
.mover-left {
  background-position: 0 -110px;
}
.mover--animate {
  transition: transform .22s;
  // border:1px solid blue;
}
@keyframes walk {
  0% { left: 0px;}
  100% { left: -320px;}
}

.target-item {
  // border:4px solid red;
}
.punched {
}
.criminal.punched {
  opacity: 0;
  transition: 1s opacity cubic-bezier(.93,-0.38,0,1.56);
}
