<!doctype html>
<html class="no-js" lang="">
    @@include('../html_partials/common/head.html')
    <body>
      <div id="game-board" class="game-board">


        <div class="possessions">
          <div class="item-container"></div>
          <div class="item-container">
              <div class="item">
              </div>
        </div>
          <div class="item-container"></div>
          <div class="item-container"></div>
          <div class="item-container">
            <div class="item">
            </div>
          </div>
          <div class="item-container"></div>
          <div class="item-container"></div>
          <div class="item-container">
            <div class="item">
            </div>
          </div>
          <div class="item-container"></div>
          <div class="item-container"></div>
          <div class="item-container"></div>
        </div>

        <div id="ped-channel" class="pedestrian-channel">
          <!-- <div id="ped" class="pedestrian fake-criminal">
          </div> -->

          <div id="mover" class="mover">
          </div>

        </div>

      </div>


      <input type="button" id="play" value="Play">

      <input type="button" id="cheat" value="Cheat">

      <div id="saved-counter">

      </div>

      <div id="assault-counter">

      </div>

      <div id="stolen-counter">

      </div>


      <audio id="swipe">
        <source src="sounds/swiped.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>

      <audio id="punch">
        <source src="sounds/punch.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>


      <!-- <audio id="truck" autoplay loop>
          <source src="sounds/Chibi Ninja.mp3" type="audio/mpeg">
          Your browser does not support the audio tag.
        </audio> -->

<div>

</div>


    </body>
    @@include('../html_partials/common/js_links.html')
    <script>
    (function() {
      "use strict";
      pageFunctionsStreet.intialize();
      pageFunctionsStreet.initializeGame();
    })();
    </script>
</html>
